@import "tailwindcss";
@plugin "daisyui" {
    themes: all ;
}

@layer base{ /* add cursor pointer to button by default this is coming from tailwing docs.. */
    button:not(:disabled),
    [role="button"]:not(:disabled)
    {
        cursor: pointer;
    }
}